/*
* @Author: 段段
* @Date:   2020-05-29 20:28:05
* @Last Modified by:   段段
* @Last Modified time: 2020-05-30 00:45:55
*/
	<style>
	.all{
		height: 1800px;
		width: 1400px;
		margin: center;
	}
	</style>