/*
* @Author: 段段
* @Date:   2020-05-29 20:16:53
* @head_bottom_d Modified by:   段段
* @head_bottom_d Modified time: 2020-05-30 18:19:03
*/
	.head{
		width: 1400px;
		height:360px;
	}
	.head_top{
		width: 1400px;
		height: 300px;
		margin:0 auto;
		text-align: center;
		background-color: rgba(28,3,108,1);
	}
	.head_top_l{
		width: 1400px;
		height: 300px;
		margin:0 auto;
		text-align: center;
		background: url(png/主页.png)no-repeat 50px;
	}
	.head_top_b{
		padding-top: 10px;
	}
	.head_top_a {
		margin-left: 200px;
		width: 160px;
		height: 300px;
		background: url(png/主页导航.png) no-repeat center center;
	}
	.head_top_a li{
		width: 160px;
		height: 25px;
		margin-left: 2px;
		margin-top: 2px;
		float: left;
	}
	.head_top_c {
		float: left;
		display: inline-block;
		font-size:14px;
		font-family:Microsoft YaHei;
		color:white;
		line-height: 14px;
	}
	.head_top_c:hover {
		color: rgba(0,180,255,1);
	}
	.head_bottom_a{
		width: 1000px;
		margin: 0 auto;
		height:60px;
		background:rgba(255,255,255,1);
		box-shadow:1px 2px 3px 1px rgba(118,118,118,0.2);
		position: relative;
	}
	/*
	.head_bottom_a ul
	{
		height:60px;
		padding: 21px 0;
	}
	.head_bottom_a li
	{
		box-sizing: border-box;
		float: left;
		padding:0 34px;
		width: 10px;
		height: 16px;
	}
	.head_bottom_a li>a
	{
		font-size:16px;
		font-family:Microsoft YaHei;
		font-weight:normal;
		text-align: center;
		color: #050505;
	}
	.head_bottom_a li>a:hover
	{
		font-weight: bold;
		color: #00A4FF;
	}
	.head_bottom_a .head_bottom_d
	{
		color: #00A4FF;
		float: right ;
		font-weight:normal;
	}
	ul .h ead_bottom_c
	{
		border-left:2px solid #BFBFBF;
		border-right:2px solid #BFBFBF;
	}
	*/
	.head_bottom_b{
		width: 100%;
		overflow: hidden;
	}
		 
	.head_bottom_b >li {
		margin-top: 14px !important;
	}

